*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
header > nav{
    width: 100%;
    /* debug */
    /* height: 100px; */
    /* background-color: black; */
    position: fixed;
    font-size: 14px;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 99;
    border-bottom: solid 1px rgba(128, 128, 128, 0.169);
}
.left{
    float: left;
    width: 50%;
    height: 100%;
    padding: 15px;
    height: 66px;
}
.right{
    float: right;
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    padding: 15px;
    text-align: right;
}
header > nav::after{
    content: "";
    clear: both;
    display: table;
}
header a{
    margin-left: 30px;
    text-decoration: none;
    color: black;
}
header img{
    position: relative;
    top: 4px;
    left: 5px;
}
.bluebutton{
    background-color: #0061ff;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}


/* jumbotron */
.jumbotron{
    background-color: #b4d0e7;
    margin-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    position: relative;
}
.container{
    width: 80%;
    margin: auto;
}
.jumbotron h1{
    padding-top: 50px;
    font-size: 60px;
}
.jumbotron p{
    font-size: 14px;
    width: 30%;
    padding-top: 30px;

}
.jumbotron .bluebutton{
    position: relative;
    top: 20px;
}
.jumbotron i{
    margin-top: 30px;
    width: 30%;
    font-size: 50px;
    color: black;
}
.jumbotron img{
    width: 55%;
    position: absolute;
    left: 500px;
    top: 200px;
}


/* main */
#prezzi{
    width: 100%;
    margin-top: 100px;
    /* debug */
    /* height: 500px; */
}
#prezzi .container{
    width: 70%;
}
#prezzi h2{
    font-size: 30px;
}
.fatturazione{
    margin-top: 60px;
    font-size: 14px;
}
.fatturazione input{
    margin-right: 10px;
    margin-left: 10px;
}
input:last-child{
    margin-left: 15px;
}
.colonne{
    margin-top: 40px;
}
.colonne::after{
    content: "";
    clear: both;
    display: table;
}
.col{
    float: left;
    width: 31%;
    /* margin: 0 1%; */
    height: 750px;
    border: 1px solid grey;
}
.margin{
    margin: 0 3.5%;
}
.user{
    height: 30px;
    padding-top: 5px;
    border-bottom: 1px solid gray;
    text-align: center;
}
.col h3{
    margin-top: 15px;
    text-align: left;
}
.offerta{
    width: 80%;
    margin: auto;
}
.col h6{
    color: grey;
    margin-top: 10px;
}
.offerta div{
    margin-top: 20px;
    font-size: 12px;
}
.offerta i{
    padding-right: 12px;
}
hr{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 30%;
    color: #ccc;
}
.blu i{
    color: #0061ff;
}


/* colonna unica centrale */
.center{
    margin-top: 40px;
    width: 100%;
    float: none;
    height: auto;
}
.teem::after{
    content: "";
    clear: both;
    display: table;
}
.team{
    float: left;
    /* height: 300px; */
    width: 30%;
    padding-bottom: 20px;
}
.teem{
    width: 95%;
}
.team p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.test{
    width: 70%;
}
.team .bluebutton{
    width: 100%;
    position: relative;
    text-align: center;
    top: 4px;
}

/* immagine di fiamco a testo */
.imgtest{
    margin-top: 60px;
}
.imgtest img{
    width: 100%;
}
.imgtest .team{
    width: 50%;
}
.imgtest p{
    font-size: 14px;
}
.partner{
    padding-left: 60px;
    padding-right: 30px;
}
.imgtest .bluebutton{
    background-color: white;
    color: black;
    border: solid 1px black;
    width: 40%;
}

/* operations */
.operations{
    width: 95%;
    margin-top: 80px;
}
.col-operations{
    float: left;
    width: 33%;
    padding: 0 13px;
    /* background-color: black; */
    /* border: solid 1px red; */
    /* height: 300px; */
}
.col-operations img{
    width: 100%;
}
.col-operations p{
    font-size: 12px;
    margin: 10px 0;
    line-height: 16px;
}

/* fullscreen-part */
.fullscreen{
    margin-top: 80px;
}
.fullscreen h2{
    width: 50%;
    margin-bottom: 20px;
}
.fullscreen a{
    font-size: 11px;
    color: #0061ff;
    display: block;
}
.fullscreen .container{
    width: 70%;
}
.table{
    width: 100%;
    height: 350px;
    margin-top: 40px;
}
.table::after{
    content: "";
    clear: both;
    display: table;
}
.asidepart{
    float: left;
    width: 30%;
    height: 100%;
}
.centralpart{
    float: left;
    width: 40%;
    height: 100%;
    background-color: #f5f5f5;
}
.row{
    height: 50%;
    width: 100%;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.block{
    float: left;
    width: 50%;
    height: 100%;
    line-height: 100%;
    position: relative;
}
.block img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20%;
    filter: invert(100%);
}
.first{
    background-color: #a2d39b;
}
.second{
    background-color: #61082b;
}
.third{
    background-color: #0093ce;
}
.fourth{
    background-color: #ff1c1c;
}
.fifth{
    background-color: #d5001f;
}
.sixth{
    background-color: #b4d0e7;
}
.seventh{
    background-color: #0d2481;
}
.eight{
    background-color: #ffd830;
}
.centralpart{
    padding: 50px;
    font-size: 12px;
}
.centralpart img{
    width: 25%;
}
.centralpart hr{
    width: 10%;
    color: #f5f5f565;
}
.centralpart div{
    margin-top: 30px;
}

/* bluepart */
.bluepart{
    width: 100%;
    height: 300px;
    background-color: #b4d0e7;
}
.bluepart::after{
    content: "";
    clear: both;
    display: table;
}
.bluepart div{
    width: 50%;
    float: left;
    position: relative;
    height: 100%;
}
.bluepart h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin-bottom: 0;
    color: #61082b;
    font-size: 35px;
    margin-left: 150px;
    max-width: 450px;
}
.bluepart .bluebutton{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
    background-color: white;
    width: 250px;
    text-align: center;
    color: black;
    text-decoration: none;
}