*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: ‘Open Sans’,sans-serif;
}
header > nav{
    width: 100%;
    /* debug */
    /* height: 100px; */
    /* background-color: black; */
    position: fixed;
    font-size: 14px;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 99;
}
.left{
    float: left;
    width: 50%;
    height: 100%;
    padding: 15px 0 0 15px;
}
.right{
    float: right;
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    padding: 27px 20px 15px 0;
    text-align: right;
}
header > nav::after{
    content: "";
    clear: both;
    display: table;
}
header a{
    margin-left: 30px;
    text-decoration: none;
    color: black;
}
header img{
    position: relative;
    top: 4px;
}
.bluebutton{
    background-color: #0061ff;
    color: white;
    padding: 10px;
    text-decoration: none;
}


/* jumbotron */
.jumbotron{
    background-color: #b4d0e7;
    margin-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    position: relative;
}
.container{
    width: 80%;
    margin: auto;
}
.jumbotron h1{
    padding-top: 50px;
    font-size: 60px;
}
.jumbotron p{
    font-size: 14px;
    width: 30%;
    padding-top: 30px;

}
.jumbotron .bluebutton{
    position: relative;
    top: 20px;
}
.jumbotron i{
    margin-top: 30px;
    width: 30%;
    font-size: 50px;
}
.jumbotron img{
    width: 50%;
    position: absolute;
    left: 500px;
    top: 200px;
}


/* main */
.prezzi{
    width: 100%;
    margin-top: 100px;
    /* debug */
    height: 500px;
}
.prezzi .container{
    width: 70%;
}
.prezzi h2{
    font-size: 30px;
}
.fatturazione{
    margin-top: 60px;
    font-size: 14px;
}
.fatturazione input{
    margin-right: 10px;
    margin-left: 10px;
}
input:last-child{
    margin-left: 15px;
}
.colonne{
    margin-top: 40px;
}
.colonne::after{
    content: "";
    clear: both;
    display: table;
}
.col{
    float: left;
    background-color: black;
    width: 31%;
    margin: 0 1%;
    height: 200px;
}